extends ../layout.jade
block content
	.container
		h2 Hello
		#messages.row.example-popover
		.continer
			textarea#input-message.form-control(rows='3')
			buton#send-message.btn.btn-default.tn-block Отправить
block users
	.container
		ul.user-list
		-users.forEach(function(user) {
			li.chat-user= user.login	
		-}); 
