doctype html 
html(lang=ru)
	head
		title New Sails App
		meta(name='viewport', content='width=device-width', initial-scale=1, maximum-scale=1)
		<!--STYLES-->
		link(rel='stylesheet', href='/styles/importer.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/site.css')
		link(rel='stylesheet', href='/css/datepicker.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		<!--STYLES END-->
		<!--SCRIPTS-->
		script(src='/js/dependencies/sails.io.js')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/bootstrap-datepicker.js')
		script(src='/js/jquery.validate.min.js')
		script(src='/js/customValidate.js')
		script(src='/js/respond.min.js')
		script(src='/js/html5shiv.js')
		script(src='/js/site.min.js')
		<!--SCRIPTS END-->
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container-fluid
					a.btn.btn-navbar(data-toggle='collapse' data-target='.nav-collapse')
						i.fa.fa-bars.fa-lg
					a.brand(href='/') Dirty chat
					.nav-collapse.collapse(style='height: 0px;')
						ul.nav
							li
								a(href='/user')
									i.fa.fa-users.fa-fw
										|&nbsp;Пользователи
							li
								a(href='/user') SomeItem
							li
								a(href='/user') SomeItem2
							li
								- if (!session.authenticated) {
								form.navbar-form(action='/session/create' method='POST')
									input.input-small(type='text', name='email' id='email', placeholder='email@example.ru')
									input.input-small(type='password', name='password' id='password', placeholder='Password')
									input.btn(type='submit'  value='Войти')
									input(type='hidden' name='_csrf' value= _csrf)
									-} else {
										a.btn.btn-small(href='/session/destroy') Выйти
									-};
		.container-fluid
			.row-fluid
				#main.span9
					.container
						block content
				#side.span3
					block users
