extends ../layout.jade
block content
	form(action='/user/update/' + user.id method='POST')
		h2.form-signin-heading Изменить
		- if (flash && flash.err) {
		ul
			- Object.keys(flash.err).forEach(function(error) {
				- var errMsg = JSON.stringify(flash.err[error]);
				- console.log(errMsg);
			li= errMsg
				- })
		- }
		.control-group
			input.form-control(type='text', name='login' id='inputLogin', placeholder='Login', value= user.login)
		.control-group
			input.form-control(type='text', name='email' id='inputEmail', placeholder='Email', value= user.email)
			input(type='hidden' name='admin' value="checked")
			label.checkbox Admin
			input(type='checkbox', name='admin' unchecked)
		.control-group
			-var bd = '';
			-if (user.birthDate){
			-	bd = user.birthDate;
			-}
			input.form-control(type='text', name='birthDate' id='birthDate', data-date-format="dd.mm.yyyy", placeholder='Дата рождения' value= bd)
		.control-group
			select.form-control(name='sex' id='sex' placeholder='Пол')
		.control-group
			select.form-control(name='position' id='position' placeholder='Позиционирование')
		.control-group
			input.form-control(type='text', name='country' id='country', placeholder='Страна')
		.control-group
			select.form-control(name='city' id='city' placeholder='Город')
				-for (idx in cities) {
					-console.log(cities[idx].id)
					-console.log(user.city.id)
					-if (cities[idx].id === user.city){
					option(selected='selected' value= cities[idx].id) #{cities[idx].name}
					-} else {
					option(value= cities[idx].id) #{cities[idx].name}
					-}
				-}
		input.btn.btn-lg.btn-primary(type='submit', value='Изменить')
		input(type='hidden' name='_csrf' value= _csrf)
