extends ../layout.jade
block content
	h3= user.login
	hr
	h4= 'Связаться: ' + user.email
	-if (user.birthDate) {
	- var bd = user.birthDate.toString();
	h5= 'Дата рождения: ' + bd
	-}
	a.btn.btn-link(href='/user/edit/' + user.id) изменить
