extends ../layout.jade
block content
	form(action='/city/update/' + city.id method='POST')
		h2.form-signin-heading Изменить
		- if (flash && flash.err) {
		ul
			- Object.keys(flash.err).forEach(function(error) {
				- var errMsg = JSON.stringify(flash.err[error]);
				- console.log(errMsg);
			li= errMsg
				- })
		- }
		.control-group
			input.form-control(type='text', name='name' id='inputName', placeholder='Название', value= city.name)
		input.btn.btn-lg.btn-primary(type='submit', value='Изменить')
		//input(type='hidden' name='_csrf' value= _csrf)
